.expBonus {
	color: #009900;
	font-weight: bold;
	text-decoration: underline;
}

.goldBonus {
	color: #ff3300;
	font-weight: bold;
	text-decoration: underline;
}

.StageList .mdl-data-table {
	width: 100%
}

@media only screen and (max-width: 1200px){
	.StageList .mdl-checkbox {
		display: none;
	}
}